{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BESUGO -  Crea tu usuario</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->

    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}">

    <!-- Libraries Stylesheet -->

    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/lightbox/css/lightbox.min.css' %}">

    <!-- Customized Bootstrap Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="login">
    {% include "header.html" %} 
                
                    <div class="bg-white text-center p-5" id="formdiv">
                        
                        <form id="log" method="POST" action="/hasisaioa/">
                            
                            <legend>Hasi saioa</legend>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Izena" name="izena" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control bg-light border-0" placeholder="Your Password" name="pass" style="height: 50px;" >
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Sartu</button>
                                </div>
                        </form>
                        <h2><a href="/register/">Erabiltzaile berri bat sortu</a></h2>
                        
                    </div><br><br>
                    <div>
                    <center>
                        <h2 style="font-family:besugo ;color:var(--secondary); font: size 32px;">Itsasoa zure etxeko atean</h2>
                    </center>
                </div>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>