{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>BESUGO - Etxeko platerak</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->

    <link
      rel="stylesheet"
      href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}"
    />

    <!-- Libraries Stylesheet -->

    <link
      rel="stylesheet"
      href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'lib/lightbox/css/lightbox.min.css' %}"
    />

    <!-- Customized Bootstrap Stylesheet -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    {% include "header.html" %}

    <section id="region-main" class="has-blocks mb-3" aria-label="Contenido">
      <span class="notifications" id="user-notifications"></span>
      <div role="main">
        <span id="maincontent"></span>
        <div class="course-content">
          <div class="single-section onetopic">
            <ul class="nav nav-tabs mb-3">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'platerak' %}" title="PLATOS"
                  ><innertab
                    class="tab_content tab_position_1 tab_level_0"
                    ><span
                      class="sectionname"
                      style="color: var(--primary); font-size: 30px"
                      >PLATERAK</span
                    ></innertab
                  ></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" title="General"
                  ><innertab
                    class="tab_content tab_position_0 tab_level_0 marker"
                    ><span
                      class="sectionname"
                      style="color: var(--dark); font-size: 30px"
                      >MARISKADAK</span
                    ></innertab
                  ></a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'bebidas' %}" title="BEBIDAS"
                  ><innertab
                    style=""
                    class="tab_content tab_position_1 tab_level_0"
                    ><span
                      class="sectionname"
                      style="color: var(--primary); font-size: 30px"
                      >EDARIAK</span
                    ></innertab
                  ></a
                >
              </li>
            </ul>
            <div id="mardiv">
              <div id="menu">
                <table class="menutable">
                  {% for x in myprodu %} {% if x.mota == 0 %}
                  <tr>
                    <td class="menuizena">
                      {{ x.izena }}<br />
                      <p>{{ x.deskribapena }}</p>
                      <p></p>
                    </td>
                    <td class="menuprez">
                      <div>
                        <span>{{ x.prezioa}}€</span>
                        <img class="tableimg" src="../static/img/{{x.foto}}" />
                      </div>
                    </td>
                    {% if request.user.is_authenticated %}
                    <td class="menubotoia">
                      <button
                        class="kenMariskada"
                        id="btnMinus{{ x.id }}"
                        value="{{ x.id }}"
                      >
                        <img class="geikenimg" src="../static/img/minus.jpg" />
                      </button>
                     
                      <input
                      type="text"
                      class="contador"
                      id="contador{{ x.id }}"
                      value="0"
                      
                    />
                      <button
                        class="gehiMariskada"
                        id="btnPlus{{ x.id }}"
                        value="{{ x.id }}"
                      >
                        <img class="geikenimg" src="../static/img/plus.jpg" />
                      </button>
                    </td>
                    {% endif %}
                  </tr>
                  {% endif %} {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Start -->
    {% include "menufooter.html" %}
    <!-- Footer End -->

    {% block javascript %}
    <!-- JavaScript Libraries -->
    <script src="{% static '/js/jquery-3.6.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/besugo.js"></script>
    <!-- Template Javascript -->

    {% endblock javascript %}
  </body>
</html>
